<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>CV - {{data.name ~ ' ' ~ data.surname}}</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
	<style>
		html,body{
			font-family: sans-serif;
			margin: 0;
			width: 800px;
			height: 1403px;
			padding: 0px;
		}
		.cv-content {
			display: table;
			width: 100%;
			height: 100%;
		}
		.left-content {
			width: 35%;
			display: table-cell;
			color: white;
			background-color: #253847;
			height: 100%;
		}
		.right-content {
			display: table-cell;
		}
		.header-inner {
			height: 250px;
    		position: relative;
		}
		.header-inner img {
			position: absolute;
			
			right: 0;
			margin: auto;
			bottom: 0;
			top: 0;
		}

	</style>
</head>
<body>
	<div class="cv-content">
		<div class="left-content" align="left">
			<div class="header">
				<div class="header-inner">
					<img src="{{data.photo}}" alt="profile.png" width="200" height="200">
				</div>
			</div>
			<div class="block">
				<div class="block-inner">
					<div class="block-header">
						<span>
							Kontant
						</span>
					</div>
					<div class="phone">
						<i class="fas fa-phone"></i>
						<span>
							{{data.phone}}
						</span>
					</div>
					<div class="email">
						<span>
							{{data.email}}
						</span>
					</div>
				</div>
			</div>
		</div> 
		<div class="right-content" align="right">
			<div class="header">
			asddsaasd
			</div>
		</div> 
	</div>
</body>
